<?xml version="1.0" encoding="utf-8"?><!-- suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bsi.mpoo.traineeufrpe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trainee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.main.ActHome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.main.ActContato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.estagiario.acesso.ActCadastroLoginEstagiario"
            android:screenOrientation="portrait" />
        <activity android:name=".gui.estagiario.curriculo.ActCurriculo" />
        <activity android:name=".gui.empregador.acesso.ActCadastroLoginEmpregador" />
        <activity android:name=".gui.empregador.edit.ActEditarEmpregador" />
        <activity
            android:name=".gui.estagiario.home.ActEstagiarioPrincipal"
            android:label="@string/title_activity_tela_estagiario_principal"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gui.empregador.home.ActEmpregadorPrincipal"
            android:label="@string/title_activity_tela_empregador_principal"
            android:theme="@style/AppTheme" />
        <activity android:name=".gui.main.ActSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.estagiario.perfil.ActPerfilEstagiario" />
        <activity
            android:name=".gui.empregador.perfil.PerfilEmp"
            android:label="@string/title_activity_perfilemp"
            android:theme="@style/AppTheme" />
        <activity android:name=".gui.empregador.home.vaga.CadastrarVaga" />
        <activity android:name=".gui.empregador.home.vaga.PerfilVagaEmpregador" />
        <activity android:name=".gui.empregador.home.vaga.EditarVaga" />
        <activity android:name=".gui.estagiario.home.PerfilVagaEstagiario" />
        <activity android:name=".gui.empregador.home.ActNotifEmpregador" />
        <activity android:name=".TestandoCards"></activity>
    </application>

</manifest>